*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
.header1{
    flex: 3;
    text-align: left;
    display: flex;
}
.logo{
    flex: 1;
}
.search{
    flex: 4;
}
.header2{
    flex: 5;
    text-align: center;
    padding: 10px;
}
.header3{
    flex: 3;
    text-align: right;
    padding: 10px;
}
main{
    display: flex;
}
.s1{
    flex: 1;
}
details{
    border: 1px solid white;
    border-radius: 5px ;
    padding: 5px;
}
summary{
    text-decoration: dashed underline;
}
summary:hover{
    color: aqua;
}
details:hover{
    background-color: rgb(90, 230, 90);
}
.s2{
    flex: 3;
}
#img1{
    height: 300px;
    width: 500px;
    place-items: center;
    display: block;
    margin: auto;
}
.s3{
    flex: 1;
    border: 5px solid wheat ;
    background: radial-gradient(circle,rgb(0,42,255),rgb(255,0,51)100%);
}